
$fonts:'Epilogue', sans-serif;
$white-color:hsl(0, 0%, 98%);
$gray-color:hsl(0, 0%, 41%);
$light-grey-color: hsl(0, 0%, 68%);
$black-color:hsl(0, 0%, 8%);
$weight-normal:500;
$weight-thick:700;
$p-size: 18px;
$p-size-mobile:16px;
$heading1: 80px;
$heading1-mobile: 36px;
$text:14px;